

@media (max-width: 600px)
{
    .nav_left,.logo,
    .box-image, #line-foto1,
     #line-foto2,#line-foto3, 
     .right-text-video p,.nav-movil{
        display: none;
    }
      /* menu icon */
      
      /*.menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        background-color: rgba(0, 0, 0, 0.3);
      }
      
      .menu-icon .navicon {
        background: #fff;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }

     
      .menu-icon .navicon:before,
      .menu-icon .navicon:after {
        background:  #fff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
      .menu-icon .navicon:before {
        top: 5px;
      }
      
      .menu-icon .navicon:after {
        top: -5px;
      }
      
      /* menu btn */
     
      .menu-btn {
        display: none;
      }
/*
      .nav-movil ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background: rgba(20, 21, 23, 0.9);
      }
*/
      .left-video{
        filter: grayscale(0);
        opacity: 1;
    }
    
   .right-text-video h4{
        color: rgba(233, 200, 80, 0.9);
    }
    
    main h2{
        color: white;
    }
      
      .nav-movil li a {
        display: block;
        padding: 20px 20px;
        border-right: 1px solid #ecbf17;
        text-decoration: none;
        color: #fff;
      }

      .nav-movil li a:hover{
          color: #ecbf17;
      }

      .nav-movil{
          position: absolute;
          margin-left: -100%;
          z-index: 1;
      }
      
      .nav-movil li a:hover,
      .menu-icon:hover  {
        background-color: rgba(0, 0, 0, 0.4);
      }

      .menu-btn:checked ~ .nav-movil {
        width: auto;
        min-height: 100vh;
        margin: 0px;
        transition: all 0.3s;
       
      }
      
      .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
      }
      
      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
        background:  #ecbf17;
      }
      
      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
        background:  #ecbf17;
      }
      
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }

      .container main{
        width: 100%;
      }

      #participants,#grades-act,#forum-messages, #link-used {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
    

      #participants  thead,
      #grades-act thead,
      #forum-messages thead,
      #link-used thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      #participants  tr,
      #grades-act tr,
      #forum-messages tr,
      #link-used tr{
        border-bottom: 3px solid #0c0d0e;
        display: block;
        margin-bottom: .625em;
        border: 1px solid #ddd;
        padding: .35em;
      }
      
      #participants td,
      #grades-act td,
      #forum-messages td,
      #link-used td{
        display: block;
        text-align: right;
      }
      
      #participants  td::before,
      #grades-act td::before,
      #forum-messages td::before,
      #link-used td::before{
        content: attr(data-label);
        float: left;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 15px;
        color: rgba(233, 200, 80, 0.8);
        margin-right: 10px;
      }
      
      #participants td:last-child,
      #grades-act td:last-child,
      #forum-messages td:last-child,
      #link-used td:last-child {
        border-bottom: 0;
      }
      #forum-messages td:first-child {
        border-top: 0;
      }

      #participants .foto_student,
      #grades-act .foto_student,
      #link-used .resources_data{
        text-align: right;
    }

    #participants .message,
    #grades-act .act-1,
    #grades-act .act-2,
    #grades-act .act-3,
    #forum-messages .num-message,
    #link-used .message_link {
      padding-right: 100px;
    }












    
.nav-bar {
	position: absolute;
	background-color: #122;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: position 2.9s;
	-webkit-transition: position 2.9s;
	-moz-transition: position 2.9s;
	-ms-transition: position 2.9s;
	-o-transition: position 2.9s;
}

.toggle {
	left: 0;
	box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);

}

.toggle-menu {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2px 5px;
	border-radius: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.line {
	width: 100%;
	height: 3px;
	border-radius: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-out;
	-webkit-transition: transform 0.2s ease-out;
	-moz-transition: transform 0.2s ease-out;
	-ms-transition: transform 0.2s ease-out;
	-o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
	display: none;
}

.toggle .line3 {
	background-color: #000000;
	transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
	background-color: white;
}

.nav-list {
	list-style: none;
}

.nav-list-item {
	text-align: center;
	padding: 10px 0;
}

.nav-link {
	color: #fff;
	font-size: 22px;
	text-decoration: none;
	position: relative;
	padding-bottom: 4px;
}

.nav-link::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transform: scaleX(0);
	transition: transform 0.4s ease-in-out;
	transform-origin: left;
	-webkit-transition: transform 0.4s ease-in-out;
	-moz-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
	transform: scaleX(1);
}

  
}
 
@media (min-width: 601px) {
.nav-movil,
#menu-btn,
.nav-toggle,#nav {
    display: none;
}
#grades-act .act-1,
#grades-act .act-2,
#grades-act .act-3{
  width: 15%;
}

}
