aside {
  color: rgba(255, 255, 255, 0.8);
  font-family: Plain,Helvetica Neue,Arial,Noto Sans,sans-serif;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: .2em;
  margin: 0 5px 0 10px;
  order:3;
  width: 25%;
  background: rgba(20, 21, 23, 0.8);
  text-align: center;
}

aside .far{
  margin-top: 20px;
}

  #newevents ul li,
  #lastnews ul li{
    color: rgba(233, 200, 80, 0.8);
    font-size: 14px;
    letter-spacing: 0;
    padding: 10px 20px;
    font-weight: 100;
    text-decoration: none;
    display: block;
    animation-name: news_1;
    animation-duration: 2s;
    animation-delay: 1.25s;
    animation-timing-function: ease;
}

#lastnews #myBtn,
#newevents #myBtn1{
  font-size: 1rem;
  background: transparent;
  width: 80%;
  margin: 20px auto;
  padding-bottom: 5px;
  color: rgba(255,255, 255, 0.7);
  letter-spacing: .04em;
  cursor: pointer;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: rgba(255, 255, 255, 0.8);
}

#lastnews #myBtn:hover,
#newevents #myBtn1:hover{
  background: transparent;
  text-shadow: 0px 0px 0px transparent;
  color: #ecbf17;
  transition: 0.5s;
}

#lastnews #myBtn:active,
#newevents #myBtn1:active {
  outline: none;
  border: none;
}

#lastnews #myBtn:focus,
#newevents #myBtn1:focus {
  outline: 0;
}

#newevents ul li:first-of-type,
  #lastnews ul li:first-of-type{
    animation-delay: 2.5s;
  }

#newevents ul li:last-of-type,
#lastnews ul li:last-of-type{
    animation-delay: 0s;
  }

#newevents ul,
#lastnews ul{
  padding-left: 0pt;
  margin: 5px 0 40px 0;
}

#newevents,
#lastnews{
  margin: 0px;
  padding: 0;
  text-align: center;
}

#lastnews .span_news,
#newevents .span_news{
font-weight: 100;
 text-align: center;
 margin: 0;
 padding-top: 10px;
 padding-bottom: 10px;
}
/*
@keyframes news_1{
  0%{color: rgba(233, 200, 80, 0.8);
    font-size: 14px;
  }
  50%{
    color: rgba(233, 200, 80);
    font-size: 16px;
  }
  100%{color: rgba(233, 200, 80, 0.8);
    font-size: 14px;
  }
}*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: transparent;
  margin: auto;
  padding: 10px;
  width: 95%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ecbf17;
  text-decoration: none;
  cursor: pointer;
}