
@import url('https://fonts.googleapis.com/css?family=Mukta');

#login_page{
  display: none;
  color: #b9b9b9;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  font-weight: 100;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


#login_page h4 {
    color: #ecbf17;
  }
  

  .login-panel{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background-color: rgba(30,30,30, 0.9);
}

#login_page .white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    resize: both;
    overflow: auto;
}

#login_page .login-panel input[type="radio"]{
    position:relative;
    display:none;
}

.login-panel #label-login, 
.login-panel #label-register{
    border:1px solid #9E9E9E;
    padding:0 5px;
    width:150px;
    display:block;
    text-align:center;
    border-radius:3px;
    cursor:pointer;
}


.login-info-box{
    width:40%;
    padding:0 50px;
    top:20%;
    left:0;
    position:absolute;
    text-align:left;
}

.register-info-box{
    width:40%;
    padding:0 50px;
    top:20%;
    right:0;
    position:absolute;
    text-align:left;
}

.right-log{right:50px !important;}

.login-show, 
.register-show{
    z-index: 1;
    display:none;
    opacity:0;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}

.show-log-panel{
    display:block;
    opacity:0.9;
}

.login-show h2 {
margin-left: 20px;
}

.login-show input[type="submit"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}
input[type="text"],input[type="email"],input[type="date"],input[type="password"],
input[type="radio"] + label,
select option, .element-file .file_text, .element-file .file-text,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border-radius: 12px;
}


.register-show input[type="submit"] ,
.register-show input[type="reset"]{
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
    margin: 5px;
}

#grade_box{
    display: none;
}

.registerform-input, .gui-input {
    font-family:Arial, FontAwesome;
}

.rol_selected , select:first-child t{
    color: #ecbf17;
}

.register-show .field, .gui-file {
    display:block;
    position:relative;

}

.state-error {
    color: red;
    font-size: 15px;
}

#rol_box{
	max-width: 250px;
	position: relative;
}
 
.register-show select, option{
    display: block;
    padding: 15px;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #ffffff;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.register-show select:hover{
	background: #e6c654
}
 

.error{
    color: #f31010;
    font-style: italic;
    float: right;
    background-color: #f7cfcf;
    width: 100%;
    margin-top: 1px;

}

#terms.checkbox.error{
    float: inherit;
    width: inherit;
}

input.error, textarea.error {
    border: 1px dashed #f31010;
    color: #000000;
}

input:focus {
  outline: 0;
  border-color:#ecbf17;
}
input:focus + .input-icon i,input:focus + .error + .input-icon i {
  color: #ecbf17;
}


input:focus + .input-icon:after, input:focus + .error + .input-icon::after {
  border-right-color: #ecbf17;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + .error,#agree-error{
  display: block;
}
input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-radius: 0;
}
input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before {
  background-color:#ecbf17;
  color: #fff;
  border-color:#ecbf17;
}

.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.8em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 2.9em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
  color: #b9b9b9;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.4em;
  bottom: 0.4em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}

/*------------------------------MEdia-Size--------------------------*/

@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

