.foto_student img {
    width: 35px;
    height:35px; 
    margin-right: .5rem;
    border-radius: 50%;
    border-style: none;
    vertical-align: middle;
}

.act-1, .act-2, .act-3{
    text-align: center;
    vertical-align: middle;
  }

.row_grade{
    text-align:center;
}

.student,.teacher_g{
    font-size: 15px;
    font-weight: 100;
    line-height : 25px;
}

#grades_student,#grades_teacher{
    margin: 1px;
}


.table_grades{
    width: calc(100% - 5px);
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    min-height: 10em;
    border-collapse: collapse;
    border-spacing: 2px;
    text-align: center;
}

#grades_student button,
#grades_teacher button{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    display: block;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

#grades_student button .fas,
#grades_teacher button .fas{
    color: #026D41;
    font-size:25px;
}

#grades_student button .fas:hover,
#grades_teacher button .fas:hover{
    color: #209E62;
}


.list_grades{
    overflow: auto;
}

.list_grades::-webkit-scrollbar {
    display: none;
  }

thead {
    display: table-header-group;
    vertical-align: middle;
}


.table_grades th {
    font-size: 90%;
    font-weight: 100;
    text-align: center;
    padding: 4px;
    display: table-cell;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: rgba(233, 200, 80, 0.8);
}

.table_grades td {
    vertical-align: middle;
    padding: .75rem;
    border: 1px solid #dee2e6;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,.2);
}

#user_grade{
    display: inline;
}




