.foto_student img {
    width: 35px;
    height:35px; 
    margin-right: .5rem;
    border-radius: 50%;
    border-style: none;
    vertical-align: middle;
}
.foto_student,
.resources_data{
    text-align: left;
}

.student,
.resources{
    font-size: 15px;
    font-weight: 100;
    line-height : 25px;
}

.table_students,
.table_references{
    width: calc(100% - 1px);
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    min-height: 10em;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-left: 1px;
}
.list_students,
.list_references {
    overflow: auto;
}

.list_students::-webkit-scrollbar,
.list_references::-webkit-scrollbar {
    display: none;
  }

thead {
    display: table-header-group;
    vertical-align: middle;
}

#participants,
#link-used {
    text-align: center;
}


#participants th,
#link-used th {
    font-size: 90%;
    font-weight: 100;
    text-align: center;
    padding: 4px;
    display: table-cell;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: rgba(233, 200, 80, 0.8);
}

#participants td,
#link-used td {
    vertical-align: middle;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
}

.message,
.message_link{
    text-align: center; 
    vertical-align: middle;
    font-size: 30px;
}

tr:nth-child(even) {
    background-color: rgba(0,0,0,.2);
}

.table_students .message .fab,
.table_references .message_link .fas{
    color: rgba(255,255,255,0.9);
    font-size: 25px;
    cursor: pointer;
}

.table_students .message .fab:hover,
.table_references .message_link .fas:hover{
    color: rgba(233, 200, 80);
}








